body{
    background-color: orangered;
    text-align: center;
    
}
button{
    border-radius: 50%;
    border: none;
    background-color: yellow;
    font-style: oblique;
}
h1{
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
    background-color:purple;
}
h2{
    background-color: violet;
}